<div *ngIf="!loginPage" id="wrapper">
	<app-sidebar (cambioModuloPrincipal)="setCurrentModulo($event)"></app-sidebar>
	<div id="content-wrapper" class="d-flex flex-column">
		<div id="content">
			<app-navbar [newNombreModulo]="nombreModulo"></app-navbar>
			<div class="container-fluid contfluidPeq">
				<app-breadcrumbs></app-breadcrumbs>
				<alert></alert>
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
</div>